---
title: Full Frontal Ingenuity LLC
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="description" content="FFI&#39;s mission is to deliver high-quality, efficient technology solutions including IT Infrastructure Architecture, Virtualization, Strategy &amp; Justification, Cost Benefit Analysis, Risk Assessment and Alternatives Evaluation... Thereby enabling companies and government institutions to meet their goals economically with measurable results.">
    <meta property="og:title" content="Full Frontal Ingenuity LLC" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://fullfrontalingenuity.com" />
    <meta property="og:image" content="http://fullfrontalingenuity.com/img/logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/site.js"></script>
</head>

<body>

{% include header.html %}

<a id="introduction"></a>
<div class="introduction">
    <div class="center">
        <a href="" class="logo">
          <img src="img/logo.png" alt="Full Frontal Ingenuity" width="270" height="279">
        </a>
        <h1>Our mission is to deliver high-quality and profitable technology solutions to companies and organizations. FFI offers:
        <!--FFI&rsquo;s mission is to deliver high-quality, efficient technology solutions including IT Infrastructure Architecture, Virtualization, Strategy &amp; Justification, Cost Benefit Analysis, Risk Assessment and Alternatives Evaluation... Thereby enabling companies and government institutions to meet their goals economically with measurable results.--></h1>
        <p>
        <ul class="featuring">
            <li>Our knowledgable staff are seasoned SMEs in multiple disciplines who deliver end-to-end solutions.</li><p>
            <li>FFI engagements are managed by a PMI-certified project manager employing agile methodologies.</li><p>
            <li>Expertise in public and private-sector IT services combined with no-nonsense pricing ensures maximum ROI.</li>
        </ul>
    </div>
</div>

<a id="customers"></a>
<div class="customers">
    <div class="center">
        <h2>Our Clients</h2>
        <p>
        <div class="work_in_progress">We&rsquo;re proud of every one of our customers and shared successes. A handful of clients include:</div>
        <ul>
            <li class="headers">
                <div class="name">
                    <h3>Name</h3>
                </div>
                <div class="description">
                    <h3>Description</h3>
                </div>
                <div class="project_lead">
                    <h3><span>Project</span> Lead</h3>
                </div>
            </li>
{% for customer in site.data.customers %}
            <li>
                <div class="name"><a href="{{ customer.website }}" target="_blank">{{ customer.name }}</a></div>
                <div class="description">{{ customer.description }}</div>
                <div class="project_lead"><a href="index.html#team">{{ customer.lead.name }}</a></div>
            </li>
{% endfor %}
        </ul>
    </div>
</div>

<a id="quality"></a>
<div class="quality">
    <div class="center">
        <div class="column one">
            <h2>Definition of Quality</h2>
            <div class="description">
                <p>At FFI we know perceived quality is a comparison of expectations with performance... Too often, &quot;managed expectations&quot; to more closely align with performance shortcomings. Many organizations suffer from poor IT system/service implementation quality or effectiveness. You&rsquo;re not alone.</p>
                <p>We can help. Using our proven approach to delivering quality results, FFI consistently provides the right solution at the right time.</p>
	    </div>

            <!--
            <div class="project_repo">
                <a href="https://github.com/prolixalias">View our repo</a>
            </div>
            -->
        </div>
        <div class="column two">
            <ol>
                <li>
                    <p>Identify Organizational Goals</p>
                </li>
                <li>
                    <p>Define Critical Success Factors</p>
                </li>
                <li>
                    <p>Engagement</p>
                </li>
                <li>
                    <p>Solicit Feedback</p>
                </li>
                <li>
                    <p>Implement Continuous Improvements</p>
                </li>
                <li>
                    <p>Quality Reporting</p>
                </li>
                <li>
                    <p>Measure Results</p>
                </li>
            </ol>
        </div>
    </div>
</div>

<a id="team"></a>
<div class="team">
    <div class="center">
        <h2>Core Team</h2></a>
        <div class="column one">
            <p>Consultants from FFI and our affiliates can help you plan, structure and grow business-centric environments to address key issues such as strategy, solutions/infrastructure architecture, virtualization, automation and change management.</p>
            <blockquote>Choosing the right IT partnerships matter because business outcomes matter.</blockquote>
            <p>Our unique approach offers not only industry and functional expertise, but also the insight of others through partnerships and consulting alliances. Working closely with clients, FFI helps you improve business performance, drive value from your IT investments and create a competitive, sustainable advantage.</p>
        </div>
        <div class="column two">
            <blockquote>We&#39;re passionate about what we do.</blockquote>
            <p>FFI&rsquo;s proprietary methodologies and analytics enable our clients to run their businesses more effectively and efficiently. Our business has grown by remembering to &quot;sweat the details&quot; - taking into account of every aspect of clients&rsquo; needs and concerns.</p>
            <p>Great results begin with a great team. We believe both depth and breadth are essential attributes in a collaborative, cross-discipline environment. The core team individuals place a high value on the quality of outcomes as well as the process of getting there.</p>
        </div>
        <table border="0"><tr>
{% for member in site.data.team %}
        <td valign="top" width="200">
            <div title="{{ member.bio }}" class="mugshot"><a href="{{ member.website }}" target="_blank"><center><img src="img/{{ member.mugshot }}" alt="mugshot" width="125" height="125"></center></a></div>
            <div style="color:#6abcdd;font-family:"Museo 500";font-size:20px"><a href="{{ member.website }}" target="_blank"><center>{{ member.name }}</center></a></div>
            <div style="color:#d7dadb;font-family:"Museo 300";font-size:18px"><center>{{ member.contribution }}</center></div>
            <div style="color:#d7dadb;font-family:"Museo 300";font-size:11px"><center>{{ member.certs }}</center></div>
        </td>
{% endfor %}
        </tr></table>
    </div>
</div>

<a id="invitation"></a>
<div class="invitation">
    <div class="center">
        <img src="img/stars.png" alt="Stars" width="125" height="33">
        <h2>Top Talent Welcome</h2>
        <h3>People. Vision. Working together.</h3>
        <div class="column one">
            <h4>Getting started</h4>
            <p>Imagine working with a group of highly motivated gurus with complimentary backgrounds coming together through shared vision.</p>
            <h4>How to submit your resume</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumr.</p>
        </div>
        <div class="column two">
            <h4>It&rsquo;s all about professional development</h4>
            <p>FFI provides training opportunities to ensure our affiliates possess critical competencies required to excel in a collaborative environment. We promote a competency-based approach to equip all team members with leadership and technical skills to advance individual career development goals in addition to FFI&rsquo;s mission and values.</p>
            <h4>Regions</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborumr.</p>
        </div>
    </div>
</div>

{% include footer.html %}

</body>
</html>
