<!-- begin footer -->
<div id="footer">
    <div id="sitemap" class="col-full">
        <div class="block">
            <h4>Site Map</h4>
            <ul id="menu-footer-1" class="footer-nav"><li id="menu-item-48509" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48509"><a href="https://www.woothemes.com/about/">About</a></li>
                <li id="menu-item-48513" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48513"><a href="https://www.woothemes.com/blog">Blog</a></li>
                <li id="menu-item-342811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-342811"><a href="http://www.woothemes.com/our-promise/">Our Promise</a></li>
                <li id="menu-item-385907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385907"><a href="http://www.woothemes.com/woocares/">WooCares</a></li>
                <li id="menu-item-48515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48515"><a href="https://www.woothemes.com/meet-the-team/">Team</a></li>
                <li id="menu-item-279131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-279131"><a href="http://www.woothemes.com/careers/">Careers</a></li>
                <li id="menu-item-48516" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48516"><a href="https://www.woothemes.com/press/">Press</a></li>
                <li id="menu-item-385911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385911"><a href="http://www.woothemes.com/style-guide/">Style Guide</a></li>
            </ul>
        </div>
        <div class="block">
            <h4>Partners</h4>
            <ul id="menu-footer-2" class="footer-nav"><li id="menu-item-48543" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-48543"><a href="http://www.woothemes.com/product-category/themes/">Themes</a></li>
                <li id="menu-item-48545" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48545"><a href="http://www.woothemes.com/plugins/">Plugins</a></li>
                <li id="menu-item-48546" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48546"><a href="http://www.woothemes.com/woocommerce/">WooCommerce</a></li>
                <li id="menu-item-48548" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-48548"><a href="http://www.woothemes.com/product-category/woocommerce-extensions/">Extensions</a></li>
                <li id="menu-item-48547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48547"><a href="http://ideas.woothemes.com">Submit Your Idea</a></li>
                <li id="menu-item-196765" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-196765"><a href="http://www.woothemes.com/become-a-woocommerce-developer/">Sell Your Extensions</a></li>
            </ul>
        </div>
        <div class="block">
            <h4>Support</h4>
            <ul id="menu-footer-3" class="footer-nav"><li id="menu-item-164900" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-164900"><a href="http://support.woothemes.com/hc/">Help Desk</a></li>
                <li id="menu-item-48579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48579"><a href="http://docs.woothemes.com">Documentation</a></li>
                <li id="menu-item-48585" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48585"><a href="http://www.woothemes.com/videos/">Videos</a></li>
                <li id="menu-item-48617" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48617"><a href="http://www.woothemes.com/support-policy/">Support Policy</a></li>
                <li id="menu-item-385913" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-385913"><a href="https://www.woothemes.com/contact-us/">Contact</a></li>
            </ul>
        </div>
        <div class="block">
            <h4>We recommend</h4>
            <ul id="menu-footer-4" class="footer-nav"><li id="menu-item-164767" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164767"><a href="http://www.woothemes.com/frequently-asked-questions/">Pre-sales FAQ</a></li>
                <li id="menu-item-156218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156218"><a href="http://www.woothemes.com/customers/">Customer Stories</a></li>
                <li id="menu-item-48652" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48652"><a href="http://www.woothemes.com/affiliated-woo-workers/">Affiliated Woo Workers</a></li>
                <li id="menu-item-164765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164765"><a href="http://www.woothemes.com/theme-demo-content/">Theme Demo Content</a></li>
                <li id="menu-item-219530" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-219530"><a href="http://www.woothemes.com/hosting-solutions/">Hosting Solutions</a></li>
            </ul>
        </div>
        <div class="block last">
            <div class="follow">
                <a class="twitter" href="http://www.twitter.com/woothemes">&#xf099;<span>Follow us on Twitter</span></a>
                <a class="facebook" href="http://www.facebook.com/woothemes">&#xf09a;<span>Find us on Facebook</span></a>
                <a class="rss" href="http://feeds.feedburner.com/prolixalias">&#xf09e;<span>Subscribe to our blog</span></a>
            </div>
            <p class="copyright"><strong>Copyright {{ site.time | date: '%Y' }} Full Frontal Ingenuity</strong>.<br/>All rights reserved</p>
        </div>
    </div>
</div>
<!-- end footer -->
