<!-- begin footer -->
<div id="footer">
    <div id="sitemap" class="col-full">
        <div class="block">
            <h4>Site Map</h4>
            <ul id="menu-footer-1" class="footer-nav"><li id="menu-item-48509" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48509"><a href="#introduction">Introduction</a></li>
                <li id="menu-item-48513" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48513"><a href="#customers">Clients</a></li>
                <li id="menu-item-342811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-342811"><a href="#quality">Commitment to quality</a></li>
                <li id="menu-item-385907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-385907"><a href="#team">Core team</a></li>
                <li id="menu-item-48515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48515"><a href="#invitation">We're hiring!</a></li>
            </ul>
        </div>
        <div class="block">
            <h4>Partners</h4>
            <ul id="menu-footer-2" class="footer-nav"><li id="menu-item-48543" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-48543"><a href="http://cisco.com" target="_blank">Cisco</a></li>
                <li id="menu-item-48545" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48545"><a href="http://vmware.com" target="_blank">VMware</a></li>
                <li id="menu-item-48546" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48546"><a href="http://redhat.com" target="_blank">RedHat</a></li>
                <li id="menu-item-48548" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-48548"><a href="http://drobo.com" target="_blank">Drobo</a></li>
            </ul>
        </div>
        <div class="block">
            <h4>Support</h4>
            <ul id="menu-footer-3" class="footer-nav"><li id="menu-item-164900" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-164900"><a href="http://support.woothemes.com/hc/">Help Desk</a></li>
                <li id="menu-item-48579" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48579"><a href="http://docs.woothemes.com">Documentation</a></li>
                <li id="menu-item-48585" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48585"><a href="http://www.woothemes.com/videos/">Videos</a></li>
                <li id="menu-item-48617" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48617"><a href="http://www.woothemes.com/support-policy/">Support Policy</a></li>
                <li id="menu-item-385913" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-385913"><a href="https://www.woothemes.com/contact-us/">Contact</a></li>
            </ul>
        </div>
        <!--<div class="block">
            <h4>&nbsp;</h4>
        </div>-->
        <div class="block last">
            <p class="copyright"><strong>Copyright {{ site.time | date: '%Y' }} Full Frontal Ingenuity</strong>.<br/>All rights reserved</p>
            <p class="copyright">Full Frontal Ingenuity<br>9527 Manderson Drive<br>Cheboygan, Michigan&nbsp;&nbsp;49721<br>+1-231-420-0919</p>
        </div>
    </div>
</div>
<!-- end footer -->
